
body {
    font-family:'Courier New', Courier, monospace;
    color:#465362;
    display: block;
    background: #d3d0cb;
    height: 200vh;
    margin-left: 0;
    margin-top: 


}
header {
    position:fixed; 
    width: 100%;
    top: 0;
    z-index:100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #465362;
    padding-left: 35px;
    color: #d3d0cb;

}
nav {
    position: fixed; 
    width: 150px;
    height: 1000vh;
    margin-top: 80px;
    padding-top: 20px;
    top: 0;
    background: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;    
}
.links a + p {
  margin-top: 20px;
  margin-bottom: 20px;
}


.content {
margin-left: 170px;
margin-top: 90px;
;
}


@media screen and (max-width: 500px) {
  nav {

    position: fixed;
    flex-direction: column;
    width: 500px;
    height: 70px;
    margin-top: 80px;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    text-align: center;  
    
  }
  
  }
  
}
  


.divider {
    height: 40px;
  }
  
  .divider-width {
    width: 10px;
  }
  
  .divider-small {
    height: 20px;
  }
  
  .divider-large {
    height: 75vh;
  }
  
  .divider-medium {
    height: 20vh;
  }
  
  .divider-small-vh {
    height: 10vh;
  }
  
  .divider-smaller-vh {
    height: 4vh;
  }
  
  .divider-smallest-vh {
    height: 2vh;
  }
