
body {
    font-family:'Courier New', Courier, monospace;
    color:#465362;
    display: block;
    background: #d3d0cb;
    height: 200vh;
    margin-left: 0;


}
header {
    position: fixed; 
    width: 100%;
    top: 0;
    z-index:100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #465362;
    padding-left: 35px;
    color: #d3d0cb;

}
nav {
    position: fixed; 
    width: 150px;
    height: 100vh;
    margin-top: 80px;
    padding-top: 20px;
    top: 0;
    background: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;    
}

.content {
margin-left: 170px;
margin-top: 7vh;
}

@media screen and (max-width: 768px) {
    
    main,
    
    }
    
    aside {
      order: 2;
    }
 
    header {
      background:
}
    
    
    
  


.divider {
    height: 40px;
  }
  
  .divider-width {
    width: 10px;
  }
  
  .divider-small {
    height: 20px;
  }
  
  .divider-large {
    height: 75vh;
  }
  
  .divider-medium {
    height: 20vh;
  }
  
  .divider-small-vh {
    height: 10vh;
  }
  
  .divider-smaller-vh {
    height: 4vh;
  }
  
  .divider-smallest-vh {
    height: 2vh;
  }
